.App {
    font-family: sans-serif;
    
  }

  
  #phone {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
    top: 6px;
  }
  
  .h1 {
    
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-bottom: 0px;
    background: #80808012;
    text-align-last: center;

    padding: 11px;
    margin: 0;
  }
  
  .form {
    max-width: 800px;
    margin: 0 auto;
    
  }

  form{

    
    border-radius: 7px;
    width: 40%;
  }
  
  
  
  textarea,
  select,
  input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .label,
  section > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  input[type="submit"]{
    position: relative;
    background: #000000;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: 0.3s all;
    margin-bottom: 0;
  }
  
  .buttonBlack {
    background: black;
    border: 1px solid white;
  }
     
   
  input[type="submit"]:hover {
    background: #1e1953;
    color: white;
  }
  
  input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
  }
  
  .preact {
    opacity: 0;
    color: white;
  }
  
  .preact:hover {
    opacity: 1;
  }

  .formContainer {
    text-align: -webkit-center;
    
    padding: 50px;
}
  
  
  .BorderForm {

    border: #000000 1px solid;
  }