.bgimg {
    background-image: url('https://cdn.pixabay.com/photo/2014/09/07/22/07/parking-deck-438415_1280.jpg');
    min-height: 200px;
    background-position: center;
    background-size: cover;
  }

  .companyNameContainer{

    text-align-last: center;
    color: white;
  }

  .w3-jumbo{

font-size: 55px;
font-weight: 600;

  }

  #home {

    margin-top: 56px;

  }