.custom-shape-divider-top-1688313123 {
    
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1688313123 svg {
    
    display: block;
    width: calc(117% + 1.3px);
    height: 86px;
}

.custom-shape-divider-top-1688313123 .shape-fill {
    fill: rgba(0, 0, 0, 0.125);
}

.mainForm {

width: 100%;
padding: 0 80px 0 80px;

}

.MainFromH1{

    text-align-last: center;
font-size: 45px;
}

.mainFormSections{
margin-right: 0;

}

.form-control {

    border: 2px solid black;
}

.checkboxServices{

display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
}

.form-check-input{

border: 2px solid black;

}

.imagToronto{

   padding-right: 0;

}

.form-label{

font-size: 20px;

}

.submitBottonMain{

height: 80px;
width: 280px;
font-size: 25px;

}

.submitBottonMainContainer {

    text-align-last:center;
    margin-top: 10px;
}